* {
    box-sizing: border-box;
}

.div-class {
    width: 970px;
    background-color: rgb(94, 164, 226);
    color: #fff;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 275px;
    position: relative;
    box-shadow: 0 4px 8px 10px rgba(0, 0, 0, 0.2),
        0 6px 20px 10px rgba(0, 0, 0, 0.19);
}

.numerotation {
    position: absolute;
    top: -12px;
    left: -12px;
    background: #fff;
    color: rgb(94, 164, 226);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
